<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <div style="overflow:auto; width:70%; height:545px; padding:5px; border:1px solid #eee" align="center">
  	<h2><center>Update Article</center></h2>
	<table border="0px" align="center">
		<form id="edit_article" method="patch" action="">
			<tr>
				<td> Title </td>
				<td> : </td>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<td> Descriptions </td>
				<td> : </td>
				<td>
					<textarea name="descriptions"> </textarea>
				</td>
			</tr>
			<tr>
				<td> Category </td>
				<td> : </td>
				<td>
					<select name="category">
						<option value="1">Culture</option>
						<option value="2">History</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="3"> <center><input type="submit" name="update_article" value="Update"> <input type="button" name="cancel" value="Cancel" onclick=self.history.back()></center></td>
			</tr>
		</form>
	</table>
	</div>
	</body>
</html>