<!DOCTYPE html>
<html>
  <head></head>
  <body>
  	<h2><center>Articles List</center></h2>
	<table border="1px" align="center" width="80%">
		<tr>
			<th width="5%"> No. </th>
			<th width="20%"> Title </th>
			<th width="45%"> Descriptions </th>
			<th width="15%"> Category </th>
			<th colspan="2" width="15%"> Action </th>
		</tr>
			<tr>
			<td> 1 </td>
			<td> Understanding Local Culture: A week in Sumbawa </td>
			<td> Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum </td>
			<td> Culture </td>
			<td> Edit </td>
			<td> Delete </td>
		</tr>
	</table>
	</body>
</html>